{% extends 'base.html' %}
{% load mytags %}
{% block self_head_css_js %}
    <script src="/static/layer/layer.js"></script>
    <script src="/static/js/base.js"></script>
    <script src="/static/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/static/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="/static/plugins/datatables/dataTables.bootstrap.css"></script>
{% endblock %}
{% block content %}

    <script>
        window.onload=init;
        function init() {
            var box = document.getElementById("appconf");
            box.className="active";
            var box2 = document.getElementById("authinfo");
            box2.className="active";
        }
    </script>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
    </section>

    <!-- Main content -->
    <section class="content">
        <form action="" method="post" id="authinfo_form">
                {% csrf_token %}
            <div class="box">
                <div class="box-header">
                    <div class="btn btn-group" style="padding-left: 0">
						 <a id="authinfoadd" style="display: none;" href="{% url 'authinfo_add' %}" class="btn btn-success">添加认证</a>
                  </div>
                </div>

                <!-- /.box-header -->
                <div class="box-body">
                  <table class="table table-striped table-bordered" id="authInfoform">
                      <thead>
                        <tr>
                            <th>
                                <input id="checkall" type="checkbox" class="i-checks" name="checkall" value="checkall" data-editable='false' onclick="check_all('authinfo_form')">
                            </th>
                            <th>认证标识</th>
                            <th>备注</th>
                        </tr>
                      </thead>
                            <tbody>
                            {% for auth in all_authinfo %}
                                <tr class="even gradeX">
                                    <td><input type="checkbox" id="id" class="i-checks" value="{{ auth.id }}" name="id" /></td>
                                    <td>{{ auth.dis_name }} </td>
                                    <td>{{ auth.memo }} </td>
                                    <td>
                                        <a id="authinfoedit" style="display: block; float:left; margin: auto;" href="{% url "authinfo_edit" auth.id %}"><span class="btn btn-sm btn-info">编辑</span></a>
                                        <a id="authinfodel" style="display: block; float:left; margin: auto;" href="{% url "authinfo_del"%}?id={{ auth.id }}" onclick="return confirm('确认删除认证？')"><span class="btn btn-sm btn-danger ">删除</span></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                  </table>
                  <div class="btn-group">
{#                      <input type="button" id="authinfo_del" class="btn btn-danger"   name="del_button" value="删除认证"/>#}
                  </div>
                </div>
            </div>
        </form>
    </section>

</div>
<script>
  $(function () {
    $('#authInfoform').DataTable({
      "paging": true,
      "lengthChange": true,
      "searching": true,
      "ordering": true,
      "info": true,
      "bAutoWidth": false
    });
  });
</script>

<script>
    $('#authinfo_del').click(function () {
        var authinfo_id_all = getIDall();
        if (authinfo_id_all == ''){
            alert("请至少选择一行!");
            return false;
        }
        if (confirm("确定删除?")) {
            $.ajax({
                type: "post",
                data: {authinfo_id_all: authinfo_id_all,csrfmiddlewaretoken: '{{ csrf_token }}'},
                url: "{% url 'authinfo_del' %}",
                success: function () {
                    parent.location.reload();
                }
            });
        }
    });
</script>

{% endblock %}
