django==4.2.20
tornado==6.3.3
ansible==9.1.0
sh==2.0.6
mysqlclient==2.2.4
pytest==7.4.3
celery==5.3.6
django-auth-ldap==4.6.0
python-ldap==3.4.3
django-celery-beat==2.5.0
django-celery-results>=2.4.0
gunicorn==21.2.0
redis==5.0.1
psutil==5.9.6
schedule==1.2.1
pymongo==4.6.0
requests==2.31.0
django-db==0.0.7
ldap3==2.9.1
#elfinder requirements
asn1crypto==1.5.1
bcrypt==4.0.1
cffi==1.16.0
cryptography==42.0.2
django-storages==1.14.2
idna==3.4
olefile==0.46
paramiko==3.3.1
Pillow==10.2.0
pyasn1==0.5.0
pycparser==2.21
PyNaCl==1.5.0
python-magic==0.4.27
pytz==2023.3.post1
six==1.17.0
# 添加之前在脚本中单独安装的包
enum34>=1.1.6
ipaddress>=1.0.18
kombu>=4.2.1
billiard>=3.5.0.3
setuptools>=39.2.0
webssh==1.6.2