[Unit]
Description=Adminset Agent Script
After=network.target

[Service]
WorkingDirectory=/var/opt/adminset/client/
ExecStart="source venv/bin/activate; /usr/bin/env python adminset_agent.py"
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
User=root
Group=root

[Install]
WantedBy=multi-user.target

