[Unit]
Description=Adminset Agent Script
After=network.target

[Service]
WorkingDirectory=/usr/local/bin
ExecStart=/usr/bin/env python adminset_agent.py
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
User=root
Group=root

[Install]
WantedBy=multi-user.target

