[Unit]
Description=Celery Service
After=network.target

[Service]
Type=oneshot
RemainAfterExit=true
User=root
Group=root
WorkingDirectory=/var/opt/adminset/main
ExecStart=/var/opt/adminset/main/install/celery/start_adminset.sh
#ExecStop=/var/opt/adminset/main/install/celery/stop_adminset.sh

[Install]
WantedBy=multi-user.target
