[Unit]
Description=Celery Service
After=network.target

[Service]
Type=oneshot
RemainAfterExit=true
User=root
Group=root
WorkingDirectory=/var/opt/adminset/main
ExecStart=/var/opt/adminset/config/celery/start_celery.sh

[Install]
WantedBy=multi-user.target
