{% extends 'base.html' %}
{% load mytags %}
{% block self_head_css_js %}
    <script src="/static/layer/layer.js"></script>
    <script src="/static/js/base.js"></script>
    <script src="/static/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/static/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="/static/plugins/datatables/dataTables.bootstrap.css"></script>

{% endblock %}
{% block content %}
<script>
    window.onload=init;
    function init() {
        showhide(2);
    }
    function showhide(n) {
        var box = document.getElementById("accounts");
        box.className="active";
    }
</script>

<div class="content-wrapper">


    <section class="content">

<div id="dialog">
        <div class="box">
            <!-- /.box-header -->
            <!-- form start -->
    <form class="form-horizontal" role="form" action={% url "change_password"  %} method="POST" >
    {% csrf_token %}
              <div class="box-body">
        {% for item in form %}
            <div class="form-group">
                <label class="col-sm-1 control-label">{{item.label}}</label>

                <div class="col-ms-8" style="margin-left: 10px;">
                    {{item}}
                </div>
                <div class="col-ms-8" style="margin-left: 10px;">
                    {{item.errors}}
                </div>
            </div>
        {% endfor %}
        <div class="form-group">
            <div class="box-footer" style="margin-left: 10px;width: 530px;">
                <button type="submit" class="btn btn-primary pull-left" style="width: 120px">更新密码</button>&nbsp;&nbsp;
            </div>
        </div>
              </div>
    </form>
</div>
    </div>


    </section>

  </div>
{% endblock %}
