[Unit]
Description=WebSSH
After=network.target

[Service]
Type=simple
WorkingDirectory=/var/opt/adminset/main
ExecStart=/var/opt/adminset/venv/bin/wssh --address='0.0.0.0' --port=8888 --certfile='/var/opt/adminset/main/install/server/nginx/nginx.crt' --keyfile='/var/opt/adminset/main/install/server/nginx/nginx.key'
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
