{% extends 'base.html' %}
{% block self_head_css_js %}
    <script src="/static/layer/layer.js"></script>
{% endblock %}
{% block content %}
<script>
    window.onload=init;
    function init() {
        showhide(7);
    }
    function showhide(n) {
        var box = document.getElementById("config");
        box.className="active";
    }
</script>


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="alert alert-info alert-dismissible" style="display: {{ display_control }};">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4>{{ tips }}</h4>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        <div id="dialog">
        <div class="box">
            <form class="form-horizontal" action="{% url 'config_save' %}" method="POST">
                      {% csrf_token %}
                <div class="box-body">
                  <span><b>脚本路径设置</b></span>
                <div class="form-group">
                  <label for="ansible_path" class="col-sm-2 control-label">Ansible路径:</label>

                  <div class="col-sm-10">
                      <input type="text" value="{{ a_path }}" id="ansible_path" name="ansible_path" style="width:450px;">
                  </div>
                </div>
                <div class="form-group">
                  <label for="roles_path" class="col-sm-2 control-label">Roles路径:</label>

                  <div class="col-sm-10">
                      <input type="text" value="{{ r_path }}" id="roles_path" name="roles_path" style="width:450px;">
                  </div>
                </div>
                <div class="form-group" >
                  <label for="pbook_path" class="col-sm-2 control-label">playbook路径:</label>

                  <div class="col-sm-10" >
                    <input type="text" value="{{ p_path }}" id="pbook_path" name="pbook_path" style="width:450px;">
                  </div>
                </div>
                <div class="form-group">
                  <label for="scripts_path" class="col-sm-2 control-label">Scripts路径:</label>

                  <div class="col-sm-10">
                    <input type="text" value="{{ s_path }}" id="scripts_path" name="scripts_path" style="width:450px;">
                  </div>
                </div>
                <hr>
                  <p><b>数据库设置</b></p>
                <div class="form-group">
                  <label for="engine" class="col-sm-2 control-label">Engine:</label>

                  <div class="col-sm-10">
                    <input type="text" value="{{ engine }}" id="engine" name="engine" style="width:450px;">
                  </div>
                </div>
                <div class="form-group">
                  <label for="host" class="col-sm-2 control-label">Host:</label>

                  <div class="col-sm-10">
                    <input type="text" value="{{ host }}" id="host" name="host" style="width:450px;">
                  </div>
                </div>
                <div class="form-group">
                  <label for="user" class="col-sm-2 control-label">User:</label>

                  <div class="col-sm-10">
                    <input type="text" value="{{ user }}" id="user" name="user" style="width:450px;">
                  </div>
                </div>
                <div class="form-group">
                  <label for="port" class="col-sm-2 control-label">Port:</label>

                  <div class="col-sm-10">
                    <input type="text" value="{{ port }}" id="port" name="port" style="width:450px;">
                  </div>
                </div>
                <div class="form-group">
                  <label for="password" class="col-sm-2 control-label">Password:</label>

                  <div class="col-sm-10">
                    <input type="password" value="{{ password }}" id="password" name="password" style="width:450px;">
                  </div>
                    </div>
                <div class="form-group">
                  <label for="database" class="col-sm-2 control-label">Database:</label>

                  <div class="col-sm-10">
                    <input type="text" value="{{ database }}" id="database" name="database" style="width:450px;">
                  </div>
                </div>
                    <hr>
                  <p><b>Mongodb设置</b></p>
                <div class="form-group">
                  <label for="mongodb_ip" class="col-sm-2 control-label">Host:</label>

                  <div class="col-sm-10">
                    <input type="text" value="{{ mongodb_ip }}" id="mongodb_ip" name="mongodb_ip" style="width:450px;">
                  </div>
                </div>
                <div class="form-group">
                  <label for="mongodb_port" class="col-sm-2 control-label">Port:</label>

                  <div class="col-sm-10">
                    <input type="text" value="{{ mongodb_port }}" id="mongodb_port" name="mongodb_port" style="width:450px;">
                  </div>
                </div>
                <div class="form-group">
                  <label for="mongodb_user" class="col-sm-2 control-label">user:</label>

                  <div class="col-sm-10">
                    <input type="text" value="{{ mongodb_user }}" id="mongodb_user" name="mongodb_user" style="width:450px;">
                  </div>
                </div>
                <div class="form-group">
                  <label for="mongodb_pwd" class="col-sm-2 control-label">password:</label>

                  <div class="col-sm-10">
                    <input type="password" value="{{ mongodb_pwd }}" id="mongodb_pwd" name="mongodb_pwd" style="width:450px;">
                  </div>
                </div>
                <div class="form-group">
                  <label for="mongodb_collection" class="col-sm-2 control-label">collection:</label>

                  <div class="col-sm-10">
                    <input type="text" value="{{ mongodb_collection }}" id="mongodb_collection" name="mongodb_collection" style="width:450px;">
                  </div>
                </div>
                <hr>
                <p><b>密钥设置</b></p>
                <div class="form-group">
                  <label for="token" class="col-sm-2 control-label">Token:</label>

                  <div class="col-sm-10">
                    <input type="text" value="{{ token }}" id="token" name="token" style="width:450px;" readonly>
                    <li class="btn btn-default" id="config" onclick="get_token();"><b>创建</b></li>
                  </div>
                </div>
                <div class="form-group">
                  <label for="ssh_pwd" class="col-sm-2 control-label">ssh password:</label>

                  <div class="col-sm-10">
                    <input type="password" value="{{ ssh_pwd }}" id="ssh_pwd" name="ssh_pwd" style="width:450px;">
                  </div>
                </div>
                    <hr>
                <p><b>日志设置(重启生效)</b></p>
                <div class="form-group">
                  <label for="log" class="col-sm-2 control-label">日志路径:</label>

                  <div class="col-sm-10">
                    <input type="text" value="{{ log_path }}" id="log_path" name="log_path" style="width:450px;" placeholder="默认路径程序目录下的logs">
                  </div>
                </div>
                <div class="form-group">
                  <label for="log" class="col-sm-2 control-label">日志级别:</label>

                  <div class="col-sm-10">
                    <select name="log_level" class="form-control" style="width:450px;">
                            <option value="{{ log_level }}" selected="selected"> {{ log_level }}</option>
                        {% for key,value in all_level.items %}
                            <option value="{{ key }}"> {{ key }}</option>
                        {% endfor %}
                    </select>
                  </div>
                </div>
                <p><b>webssh域名设置</b></p>
                <div class="form-group">
                  <label for="webssh_domain" class="col-sm-2 control-label">域名:</label>

                  <div class="col-sm-10">
                    <input type="text" value="{{ webssh_domain }}" id="webssh_domain" name="webssh_domain" style="width:450px;" placeholder="webssh访问域名设置">
                  </div>
                </div>
                 </div>

              <!-- /.box-body -->
              <div class="box-footer">
                <button type="submit" onclick="checkSubmit()" class="btn btn-info pull-left" style="width: 120px"><b>保存(save)</b></button>
              </div>
              <!-- /.box-footer -->
            </form>

</div>
</div>

    </section>
        <!-- /.content -->
      </div>
<script>
function checkSubmit() {
    if (!confirm("确定修改？")) {
        window.event.returnValue = false;
    }
}
</script>
<script>
function get_token() {
    $.post('/config/token/',{csrfmiddlewaretoken: '{{ csrf_token }}'},function(data){
        document.getElementById("token").value = data;
    });
}
</script>
{% endblock %}
