{% extends 'base.html'%}
{% block title %}File management{% endblock %}
{% load static %}
{% block self_head_css_js %}
<link rel="stylesheet" href="{% static "plugins/toastr/toastr.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "plugins/jquery-ui-1.12/jquery-ui.css" %}">
<!-- elFinder CSS (REQUIRED) -->
<link rel="stylesheet" type="text/css" href="{% static "elfinder/css/elfinder.full.css"%}">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

<!-- elFinder JS (REQUIRED) -->
<script src="{% static "plugins/jQuery/jquery-2.2.3.min.js" %}"></script>
<script src="{% static "plugins/jquery-ui-1.12/jquery-ui.js" %}"></script>
<script src="{% static "elfinder/js/elfinder.full.js" %}"></script>

<!-- elFinder translation (OPTIONAL) -->
<script src="{% static "elfinder/js/i18n/elfinder.zh_CN.js" %}"></script>

<!-- elFinder initialization (REQUIRED) -->
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$('#elfinder').elfinder({
			// set your elFinder options here
			customData: { _csrftoken: '{{ csrf_token }}' },
            height: 560,
            url : '/mfile/elfinder/yawd-connector/mfile/default/',  // 使用mfile选项集
            lang: 'zh_CN'                         // language
		}).elfinder('instance')
	});
</script>
{% endblock %}
{% block content %}
<script>
    window.onload=init;
    function init() {
        showhide(1);
    }
    function showhide(n) {
        var box = document.getElementById("mfile");
        box.className="active";
    }
</script>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN SAMPLE FORM PORTLET-->
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">File management</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                        <div class="col-md-12">
                            <!-- Element where elFinder will be created (REQUIRED) -->
                            <div id="elfinder"></div>
                        </div>
                    </div>
                    </div>
                </div>
                <!-- END SAMPLE FORM PORTLET-->
            </div>
        </div>
    </section>
</div>
{% endblock %}