{% extends 'base.html' %}
{% load mytags %}
{% block self_head_css_js %}
    <script src="/static/layer/layer.js"></script>
    <script src="/static/js/base.js"></script>
    <script src="/static/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/static/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="/static/plugins/datatables/dataTables.bootstrap.css"></script>
{% endblock %}
{% block content %}

    <script>
        window.onload=init;
        function init() {
            var box = document.getElementById("branches");
            box.className="active";
            var box2 = document.getElementById("branch_list");
            box2.className="active";
        }
    </script>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
    </section>

    <!-- Main content -->
    <section class="content">
        <form action="" method="post" id="branch_form">
                {% csrf_token %}
            <div class="box">
                <div class="box-header">
                    <div class="col-sm-2" style="padding-left: 0">
						 <a href="{% url 'branch_add' %}"><li class="btn btn-success" ><b>添加分支</b></li></a>
                  </div>
                </div>

                <!-- /.box-header -->
                <div class="box-body">
                  <table class="table table-striped table-bordered" id="productform">
                      <thead>
                        <tr>
                            <th>
                                <input id="checkall" type="checkbox" class="i-checks" name="checkall" value="checkall" data-editable='false' onclick="check_all('branch_form')">
                            </th>
                            <th>分支名称</th>
                            <th>分支描述</th>
                            <th>负责人</th>
                            <th>电话</th>
                            <th>操作</th>
                        </tr>
                      </thead>
                            <tbody>
                            {% for branch in all_branch %}
                                <tr class="even gradeX">
                                    <td><input type="checkbox" id="id" class="i-checks" value="{{ branch.id }}" name="id" /></td>
                                    <td><a href="#"><li style="list-style-type:none" onclick="return popWin(this.value)" value="{{ branch.id }}">{{ branch.name }}</li></a> </td>
                                    <td>{{ branch.address }} </td>
                                    <td>{{ branch.owner.phone }} </td>
                                    <td>{{ branch.description }} </td>
                                    <td>{{ branch.owner.name }} </td>
                                    <td>
                                        <a href="{% url "branch_edit" branch.id %}"><span class="btn btn-sm btn-info">编辑</span></a>
                                        <a href="{% url "branch_del"%}?id={{ branch.id }}" onclick="return confirm('确认删除分支吗？')"><span class="btn btn-sm btn-danger ">删除</span></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                  </table>
                  <div class="btn-group">
                      <input type="button" id="branch_del" class="btn btn-danger"   name="del_button" value="删除分支"/>
                  </div>
                </div>
            </div>
        </form>
    </section>

</div>
<script>
  $(function () {
    $('#branch_form').DataTable({
      "paging": true,
      "lengthChange": true,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": true
    });
  });
</script>

<script>
    $('#branch_del').click(function () {
        var branch_id_all = getIDall();
        if (branch_id_all == ''){
            alert("请至少选择一行!");
            return false;
        }
        if (confirm("确定删除?")) {
            $.ajax({
                type: "post",
                data: {branch_id_all: branch_id_all,csrfmiddlewaretoken: '{{ csrf_token }}'},
                url: "{% url 'branch_del' %}",
                success: function () {
                    parent.location.reload();
                }
            });
        }
    });
</script>

<script>
function popWin(branch_id){
  layer.open({
      type: 2,
      title: '项目列表',
      area: ['700px', '500px'],
      shadeClose: true, //点击遮罩关闭
      content: ['/branches/branch/resource_detail/' + branch_id]
  });
}
</script>
{% endblock %}
