[Unit]
Description=adminset
After=network.target

[Service]
WorkingDirectory=/var/opt/adminset/main
ExecStart=/usr/bin/gunicorn -c gunicorn_conf.py adminset.wsgi
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
User=root
Group=root

[Install]
WantedBy=multi-user.target

