<header class="main-header">

    <!-- Logo -->
    <a href="{% url 'index' %}" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>AST</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>AdminSet</b></span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
        <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
          <ul class="nav navbar-nav">
                <li style="font-size: medium" id="asset"><a href="{% url 'cmdb' %}"><b>主机管理</b></a></li>
                <li class="divider"></li>
                <li style="font-size: medium" id="idc"><a href="{% url 'idc' %}"><b>机房管理</b></a></li>
                <li class="divider"></li>
                <li style="font-size: medium" id="cabinet"><a href="{% url 'cabinet' %}"><b>机柜管理</b></a></li>
                <li class="divider"></li>
                <li style="font-size: medium" id="group"><a href="{% url 'group' %}"><b>属组管理</b></a></li>
          </ul>
        </div>
      <!-- Navbar Right Menu -->
      {% include 'navbar-custom-menu.html' %}
    </nav>
  </header>