<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>WebSSH</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
      html, body {
        margin: 0;
        padding: 0;
        height: 100%;
        overflow: hidden;
      }
      #ssh-container {
        width: 100%;
        height: 100vh;
        border: none;
      }
    </style>
  </head>
  <body>
    <script>
      $(document).ready(function(){
        var path = 'https://' + window.location.host + ':4433';
        
        // 构建 GET 请求参数，密码进行 base64 编码
        var params = {
          hostname: "{{ host.ip }}",
          username: "{{ host.account.username }}",
          password: btoa("{{ host.account.password }}"),  // 使用 base64 编码
          port: "{{ host.account.deploy_port }}",
          privatekey: "{{ host.account.private_key }}"
        };
        
        
        // 构建 URL 查询字符串
        var queryString = Object.keys(params)
          .map(key => key + '=' + encodeURIComponent(params[key]))
          .join('&');
        
        // 使用iframe嵌入WebSSH
        $('body').append(
          $('<iframe>', {
            id: 'ssh-container',
            src: path + '?' + queryString
          })
        );
      });
    </script>
  </body>
</html>
