<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title> WebSSH </title>
    <link href="/static/webssh/img/favicon.png" rel="icon" type="image/png">
    <link href="/static/webssh/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/webssh/css/xterm.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/webssh/css/fullscreen.min.css" rel="stylesheet" type="text/css"/>
    <style>
      .row {
        margin-top: 20px;
        margin-bottom: 10px;
      }

      .container {
        margin-top: 20px;
      }

      .btn {
        margin-top: 10px;
      }

      .btn-danger {
        margin-left: 5px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <form id="connect" action="" style="display: none" method="post" enctype="multipart/form-data"{% if debug %} novalidate{% endif %}>
      // ... existing code ...
      </form>
    </div>

    <div class="container">
      <div id="status" style="color: red;"></div>
      <div id="terminal"></div>
    </div>

    <script src="/static/webssh/js/jquery.min.js"></script>
    <script src="/static/webssh/js/popper.min.js"></script>
    <script src="/static/webssh/js/bootstrap.min.js"></script>
    <script src="/static/webssh/js/xterm.min.js"></script>
    <script src="/static/webssh/js/fullscreen.min.js"></script>
    <script src="/static/webssh/js/main.js"></script>
    <script>
      $(document).ready(function(){
        // 构建基础URL
        var baseUrl = 'http://' + window.location.host + ':8888';
        
        // 使用更安全的编码方式获取并编码密码
        var originalPassword = "{{ host.account.password }}";
        var encodedPassword = btoa(unescape(encodeURIComponent(originalPassword)));
        
        // 设置表单值
        $('#hostname').val("{{ host.ip }}");
        $('#username').val("{{ host.account.username }}");
        $('#password').val(encodedPassword);
        
        // 构建查询参数
        var params = {
            hostname: $('#hostname').val(),
            username: $('#username').val(),
            password: $('#password').val()
        };
        
        // 将参数转换为URL查询字符串
        var queryString = $.param(params);
        
        // 组合完整URL
        var fullUrl = baseUrl + '/?' + queryString;
        
        // 创建iframe并加载URL
        var iframe = $('<iframe>', {
            src: fullUrl,
            id: 'sshFrame',
            frameborder: 0,
            style: 'width:100%; height:600px; border:none;'
        });
        
        // 将iframe添加到terminal div中
        $('#terminal').html(iframe);
        
        // 自动调整iframe高度
        $('#sshFrame').on('load', function() {
            try {
                var height = $(this).contents().height();
                $(this).height(height);
            } catch(e) {
                $(this).height(600);
            }
        });
        
        // 调试用 - 打印URL
        console.log("加载URL: " + fullUrl);
      });
    </script>
  </body>
</html>