<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>WebSSH</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <script>
      $(document).ready(function(){
        var path = 'http://' + window.location.host + ':8888';
        
        // 构建 GET 请求参数，密码进行 base64 编码
        var params = {
          hostname: "{{ host.ip }}",
          username: "{{ host.account.username }}",
          password: btoa("{{ host.account.password }}"),  // 使用 base64 编码
          port: "{{ host.account.deploy_port }}",
          privatekey: "{{ host.account.private_key }}"
        };
        
        // 输出调试日志
        console.log('连接信息：', {
          ...params,
          password_original: "{{ host.account.password }}", // 显示原始密码用于调试
          password_encoded: params.password // 显示编码后的密码
        });
        
        // 构建 URL 查询字符串
        var queryString = Object.keys(params)
          .map(key => key + '=' + encodeURIComponent(params[key]))
          .join('&');
        
        // 直接跳转到带参数的 URL
        window.location.href = path + '?' + queryString;
      });
    </script>
  </body>
</html>
