{% extends "master.html" %}
{% block content %}
        <script>
        window.onload=init;
        function init()
        {
            showhide(1);
        }
        function showhide(n)
        {
            var box = document.getElementById("sidebar");
            var allLi=box.getElementsByTagName("li");
            var len = allLi.length;
            allLi[n].className="active";
        }
    </script>
<div class="span9" id="content">
	 <div class="row-fluid">
		<!-- block -->
		<div class="block">
			<div class="navbar navbar-inner block-header">
				<div class="muted pull-left">Devices List</div>
			</div>
			<div class="block-content collapse in">
				<div class="span12">
				   <div class="table-toolbar">
					  <div class="btn-group">
						 <a href="/admin/cmdb/host/add/"><button class="btn btn-success">Add New <i class="icon-plus icon-white"></i></button></a>
					  </div>
					  <div class="btn-group">
						 <a href="/admin/cmdb/host/"><button class="btn btn-success">Manage Host <i class="icon-plus icon-white"></i></button></a>
					  </div>
					  <div class="btn-group pull-right">
						 <button data-toggle="dropdown" class="btn dropdown-toggle">Tools <span class="caret"></span></button>
						 <ul class="dropdown-menu">
							<li><a href="excel">Export to Excel</a></li>
						 </ul>
					  </div>
				   </div>
					
					<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example2">
						<thead>
							<tr>
								<th>主机名</th>
								<th>IP地址</th>
								<th>Memory</th>
								<th>Disk</th>
								<th>OS</th>
								<th>IDC</th>
							</tr>
						</thead>
						<tbody>
							{% if host_list %}
							{% for host in host_list %}
								<tr class="even gradeA">
									<td><a href="/admin/cmdb/host/{{  host.id }}">{{ host.hostname }} </a></td>
									<td>{{ host.ip }}</td>
									<td>{{ host.memory }}</td>
									<td>{{ host.disk }}</td>
									<td>{{ host.os }}</td>
									<td>{{ host.idc.address }}</td>
								</tr>
							{% endfor %}
							{% else %}
								<p>No host are available.</p>
							{% endif %}
                            </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /block -->
                    </div>
                </div>
            </div>
{% endblock %}