{% extends 'base.html' %}
{% block self_head_css_js %}
    <script src="/static/js/echarts.js"></script>
{% endblock %}
{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{{ hostname }}监控信息</h3>
        </div>
        <div class="box-body">
    <div id="cpu" style="width: 900px;height:300px;"></div>
    <div id="memory" style="width: 900px;height:300px;"></div>

        </div>
      <!-- /.row -->
        <!-- /.box-body -->
        <div class="box-footer">
          Footer
        </div>
        <!-- /.box-footer-->
      </div>
<script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
var mycpu = echarts.init(document.getElementById('cpu'));
mycpu.showLoading();
setInterval(function () {
$.get("/monitor/get/data/{{ hostname }}").done(function (data) {
    var data = JSON.parse(data);
    mycpu.hideLoading();// 加载动画
    mycpu.setOption({
        title: {
            text: 'CPU总体使用率'
        },
        tooltip: {},
        legend: {
            data:['CPU'],
        },
        xAxis: {
            boundaryGap: false,
            data: data.data_time
        },
        yAxis: {},
        series: [{
            boundaryGap: [0, '0%'],
            name: 'CPU',
            smooth:true,
            type: 'line',
            symbol: 'none',
            stack: 'a',
            areaStyle: {
                normal: {}
            },
            max: 100,
            data: data.cpu_percent
        }
        ]
    });
});
}, 2000);
</script>
<script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
var mymemory = echarts.init(document.getElementById('memory'));
mymemory.showLoading();
setInterval(function () {
$.get("/monitor/get/data/{{ hostname }}").done(function (data) {
    var data = JSON.parse(data);
    mymemory.hideLoading();// 加载动画
    mymemory.setOption({
        title: {
            text: '内存使用率'
        },
        tooltip: {},
        legend: {
            data:['Memory'],
        },
        xAxis: {
            boundaryGap: false,
            data: data.data_time
        },
        yAxis: {},
        series: [{
            boundaryGap: [0, '0%'],
            name: 'Memory',
            smooth:true,
            type: 'line',
            data: data.memory_percent
        }]
    });
});
}, 2000);
</script>
</section>
        <!-- /.content -->
</div>
{% endblock %}
