{% extends 'base.html' %}
{% block self_head_css_js %}
    <script src="/static/layer/layer.js"></script>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" href="/static/ztree/css/zTreeStyle/zTreeStyle.css" type="text/css">
	<script type="text/javascript" src="/static/ztree/js/jquery.ztree.core.js"></script>
{% endblock %}
{% block content %}
<script>
    window.onload=init;
    function init() {
        showhide(1);
    }
    function showhide(n) {
        var box = document.getElementById("monitor");
        box.className="active";
        var box = document.getElementById("system");
        box.className="active";
    }
</script>
<SCRIPT type="text/javascript">
   var setting = {
      async: {
         enable: true,
         autoParam:["id"],
         type: "post",
         url: "{% url 'host_tree' %}"
      }
      };


   $(document).ready(function(){
      $.fn.zTree.init($("#treeDemo"), setting);
   });

</SCRIPT>

  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">

    </section>
    <!-- Main content -->
    <section class="content">
    <div style="float: left">
		<ul id="treeDemo" class="ztree"></ul>
	</div>
    <div>
        <div class="box-body" >
        {% if all_host %}
            {% for host in all_host %}
                <a href="{% url 'host_info' host.hostname 0 %}">
                    <div class="col-md-3" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                      <div class="box box-info">
                        <div class="box-header with-border">
                          <h3 class="box-title" >{{ host.hostname }}</h3>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                          {{ host.ip }}
                        </div><!-- /.box-body -->
                      </div><!-- /.box -->
                    </div>
                </a>
            {% endfor %}
        {% endif %}
        </div>
        <!-- /.box-body -->
        <!-- /.box-footer-->
      </div>

      <!-- Your Page Content Here -->
    </section>
    <!-- /.content -->
  </div>
{% endblock %}