{% extends 'base.html' %}
{% block self_head_css_js %}
    <script src="/static/layer/layer.js"></script>
{% endblock %}
{% block content %}
<script>
    window.onload=init;
    function init() {
        showhide(2);
    }
    function showhide(n) {
        var box = document.getElementById("setup");
        box.className="active";
        var box = document.getElementById("job_list");
        box.className="active";
    }
</script>


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
    </section>

    <!-- Main content -->
    <section class="content">
                    <div class="btn-group btn-group-lg">
						 <a href="{% url 'job_list' %}"><li class="btn btn-default .btn-flat" id="job_list"><b>任务列表</b></li></a>
                    </div>
                    <div class="btn-group btn-group-lg">
						 <a href="{% url 'job_interval_list' %}"><li class="btn btn-default .btn-flat" ><b>Interval</b></li></a>
                    </div>
                    <div class="btn-group btn-group-lg">
						 <a href="{% url 'job_crontab_list' %}"><li class="btn btn-default .btn-flat active" ><b>Crontab</b></li></a>
                    </div>
                    <div class="btn-group btn-group-lg">
                         <a href="{% url 'job_result_list' %}"><li class="btn btn-default .btn-flat" ><b>任务结果</b></li></a>
                    </div>
                    <div class="btn-group btn-group-lg">
                         <a href="{% url 'job_backend' %}"><li class="btn btn-default .btn-flat" ><b>后台管理</b></li></a>
                    </div>
        <form action="{% url 'job_crontab_del' %}" method="post">
                    {% csrf_token %}
            <div class="box box-info">
                <div class="box-header">
                </div>
                <div class="box-header">
                    <div class="btn-group">
						 <a href="{% url 'job_crontab_add' %}"><li class="btn btn-success" ><b>新建周期</b></li></a>
                  </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  <table class="table table-striped table-bordered" id="dataform">
                      <thead>
                        <tr>
                            <th>
                                <input type="checkbox" onclick="checkAll(this, 'item1');" />
                            </th>
                                    <th>分(Minute):</th>
                                    <th>时(Hour):</th>
                                    <th>日/周(Day of week):</th>
                                    <th>日/月(Day of month):</th>
                                    <th>月/年(Month of year):</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if crontab_info %}
                                {% for crontab in crontab_info %}
                                    <tr class="even gradeA">
                                        <td><input type="checkbox" id="u_id" class="item1" value="{{ crontab.id }}" name="idc_check" /></td>
                                        <td><a href="#"><li style="list-style-type:none" onclick="return tanchu(this.value)" value="{{ crontab.id }}"> {{ crontab.minute }}</li></a></td>
                                        <td>{{ crontab.hour }}</td>
                                        <td>{{ crontab.day_of_week }}</td>
                                        <td>{{ crontab.day_of_month }}</td>
                                        <td>{{ crontab.month_of_year }}</td>
                                    </tr>
                                {% endfor %}
                                {% else %}
                                    <p>No Item are available.</p>
                                {% endif %}
                            </tbody>
                  </table>
                    <div class="btn-group">
						 <button class="btn btn-danger" style="width: 60pt;font-size: medium" onclick="return checkSubmit()"><b>删除</b></button>
                    </div>
                </div>
            </div>
        </form>

    </section>
        <!-- /.content -->
      </div>
{#接收子层回传参数#}
<input id="handle_status" value="" hidden="hidden">
<script>
function checkAll(sender, checkClass) {
    var checkItems = document.getElementsByTagName('input');
    for (var i = 0; i < checkItems.length; i++) {
        var checkItem = checkItems[i];
        if (checkItem.type === 'checkbox' && checkItem.className === 'item1') {
            checkItem.checked = sender.checked;
        }
    }
}
</script>
<script src="/static/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script>
  $(function () {
{#    $("#example1").DataTable();#}
    $('#dataform').DataTable({
      "paging": true,
      "lengthChange": true,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": true
    });
  });
</script>
<script>
function checkSubmit() {
    if (!confirm("确定删除？")) {
        window.event.returnValue = false;
    }
}
</script>
<script>
function tanchu(n){
  layer.open({
  type: 2,
  title: '信息修改',
  area: ['600px', '350px'],
  shadeClose: true, //点击遮罩关闭
  content: ['/setup/job/crontab/edit/' + n,],
  end:function(){
        var handle_status = $("#handle_status").val();
        if ( handle_status == '1' ) {
            layer.msg('保存成功！',{
                icon: 1,
                time: 2000 //2秒关闭（如果不配置，默认是3秒）
            },function(){
                history.go(0);
            });
        } else if ( handle_status == '2' ) {
            layer.msg('修改失败！',{
                icon: 2,
                time: 2000 //2秒关闭（如果不配置，默认是3秒）
            },function(){
                history.go(0);
            });
        }
    }
  });
}
</script>
{% endblock %}
