<div class="btn-group btn-group-lg">
     <a id="joblist" style="display: none;" class="btn btn-default .btn-flat" href="{% url 'job_list' %}"><b>任务列表</b></a>
</div>
<div class="btn-group btn-group-lg">
     <a id="jobintervallist" style="display: none;" class="btn btn-default .btn-flat" href="{% url 'job_interval_list' %}"><b>Interval</b></a>
</div>
<div class="btn-group btn-group-lg">
     <a id="jobcrontablist" style="display: none;" class="btn btn-default .btn-flat" href="{% url 'job_crontab_list' %}"><b>Crontab</b></a>
</div>
<div class="btn-group btn-group-lg">
     <a id="jobresultlist" style="display: none;" class="btn btn-default .btn-flat" href="{% url 'job_result_list' %}"><b>任务结果</b></a>
</div>
<div class="btn-group btn-group-lg">
     <a id="jobbackend" style="display: none;" class="btn btn-default .btn-flat" href="{% url 'job_backend' %}"><b>后台管理</b></a>
</div>